.headerContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 200px;
    background: linear-gradient(rgb(214, 74, 74), #c02222);
    border-bottom: 2px solid #ebaaaa;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background: linear-gradient(rgb(214, 74, 74), #c02222);

}

.logoContainer {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent img {
    width: 60%;
    object-fit: cover;
}