.headerContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 200px;
    background: linear-gradient(rgb(214, 74, 74), #c02222);
    border-bottom: 2px solid #ebaaaa;
}

.headerContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background: linear-gradient(rgb(214, 74, 74), #c02222);
}

.homeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 50%;
    width: 150px;
    height: 35px;
    padding: 10px;
    border-radius: 5%;
    background: #2b73b9;
    color: #ffcb05;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.523);
    font-family: 'VT323', monospace; ;
}

.teamButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 150px;
    height: 35px;
    padding: 10px;
    border-radius: 5%;
    background: #2b73b9;
    color: #ffcb05;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.523);
    font-family: 'VT323', monospace; ;
}

.logoContainer {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent img {
    width: 60%;
    object-fit: cover;
}

.button {
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 35px;
    padding: 10px;
    border-radius: 5%;
    background: #2b73b9;
    color: #ffcb05;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.523);
    font-family: 'VT323', monospace; ;
}

.button:hover {
    box-shadow: none;
    background: linear-gradient(#89bcf0, #2b73b9);
    transition: 0.2s ease;
}